
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.cemilan-kriukcom-hjf {
  width: 100%;
  height: 450rem;
  position: relative;
  overflow: hidden;
  background-color: #f3fff4;
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM {
  box-sizing: border-box;
  padding: 3.8rem 0rem 0rem 6.1rem;
  width: 136.6rem;
  height: 76.8rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(292.9deg, #ff15a1 99.02%, rgba(150, 110, 199, 0.9346187711) 163.53%, rgba(0, 238, 253, 0.8399999738) 265.36%);
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-vqvy-FAq {
  margin: 0rem 8rem 6.8rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-vqvy-FAq .grey-minimalist-fashion-brand-logo-4-1-XPF {
  margin: 0.1rem 0.6rem 0rem 0rem;
  width: 5.1rem;
  height: 4.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-vqvy-FAq .cemilan-kriuk-Zaq {
  margin-right: 24rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-vqvy-FAq .beranda-layanan-kontak-Sed {
  margin: 0rem 24.8rem 0.6rem 0rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-vqvy-FAq .beranda-layanan-kontak-Sed .beranda-layanan-kontak-Sed-sub-0 {
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-vqvy-FAq .beranda-layanan-kontak-Sed .beranda-layanan-kontak-Sed-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-vqvy-FAq .daftar-rVP {
  margin: 0rem 4.6rem 0.8rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-vqvy-FAq .auto-group-txeu-YND {
  margin-bottom: 0.8rem;
  width: 13.3rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-pdgd-kz5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-pdgd-kz5 .auto-group-lu3f-huK {
  margin-right: 3.5rem;
  width: 65.7rem;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-pdgd-kz5 .auto-group-lu3f-huK .membantu-menemukan-cemilan-kekinian-3TP {
  margin-bottom: 5.2rem;
  max-width: 64.8rem;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.3846153846;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-pdgd-kz5 .auto-group-lu3f-huK .keripik-pisang-merupakan-salah-satu-makanan-legendaris-yang-cukup-populer-diindonesia-cemilan-masyarakat-kita-bisa-dimanfaatkan-dengan-menyediakan-makanan-ringan-yang-enak-dengan-harga-murah-hnq {
  margin: 0rem 0rem 3.5rem 3.6rem;
  max-width: 62.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1575;
  color: #ffffff;
  font-family: Play, 'Source Sans Pro';
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-pdgd-kz5 .auto-group-lu3f-huK .auto-group-cpud-JGq {
  margin: 0rem 34.556rem 0rem 3.2rem;
  width: calc(100% - 37.7561rem);
  height: 7rem;
  display: flex;
  align-items: center;
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-pdgd-kz5 .auto-group-lu3f-huK .auto-group-cpud-JGq .auto-group-ehkd-BLd {
  margin-right: 2.9497rem;
  box-sizing: border-box;
  padding: 0.9rem 1.3rem 1.3rem 2.2rem;
  width: 23.7rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-pdgd-kz5 .auto-group-lu3f-huK .auto-group-cpud-JGq .auto-group-ehkd-BLd .temukan-cemilan-yang-kamu-butuhkan-R8V {
  max-width: 20.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #131312;
  font-family: Poppins, 'Source Sans Pro';
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-pdgd-kz5 .auto-group-lu3f-huK .auto-group-cpud-JGq .eva-arrow-ios-forward-fill-Ve9 {
  margin-top: 0.195rem;
  width: 1.2942rem;
  height: 2.5724rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-y87t-TcM .auto-group-pdgd-kz5 .printers-and-toners-blank-background-removebg-preview-1-1cV {
  margin-top: 2.7rem;
  width: 61.3rem;
  height: 58.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-8ruf-eQZ {
  box-sizing: border-box;
  padding: 10.9rem 4.7rem 11.7rem 6.1rem;
  width: 136.6rem;
  height: 78.7rem;
  position: absolute;
  left: 0;
  top: 76.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cemilan-kriukcom-hjf .auto-group-8ruf-eQZ .auto-group-3uuu-YF3 {
  margin: 0rem 42.2rem 0.6rem 40.9rem;
  width: calc(100% - 83.1rem);
  height: 9.1rem;
  position: relative;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-8ruf-eQZ .auto-group-3uuu-YF3 .layanan-kami-faZ {
  width: 35.2rem;
  height: 7.2rem;
  position: absolute;
  left: 3.7rem;
  top: 0;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #1400ff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.cemilan-kriukcom-hjf .auto-group-8ruf-eQZ .auto-group-3uuu-YF3 .terbuat-dari-bahan-premium-dan-berkualitas-Xcm {
  width: 42.7rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 6.4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.cemilan-kriukcom-hjf .auto-group-8ruf-eQZ .auto-group-so4v-NtH {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-8ruf-eQZ .auto-group-so4v-NtH .auto-group-ir2m-ix9 {
  margin: 0.3rem 33.6rem 0rem 0rem;
  box-sizing: border-box;
  padding: 7.9rem 8.9rem 14.3rem 7rem;
  width: 46.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #01d1fe;
  border-radius: 23.05rem;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-8ruf-eQZ .auto-group-so4v-NtH .auto-group-ir2m-ix9 .ellipse-1-2C9 {
  margin: 0rem 11.6rem 1.5rem 11.6rem;
  width: calc(100% - 23.2rem);
  height: 7rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1-bg-Myj.png');
  border-radius: 3.5rem;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-8ruf-eQZ .auto-group-so4v-NtH .auto-group-ir2m-ix9 .new-JvM {
  margin-bottom: 0.4rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ff0000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-8ruf-eQZ .auto-group-so4v-NtH .auto-group-ir2m-ix9 .varian-rasa-terbaru-selalu-update-disini-dxd {
  max-width: 30.2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8399999738);
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-8ruf-eQZ .auto-group-so4v-NtH .auto-group-aktq-4HF {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 9.9rem 5rem 17.6rem 4.9rem;
  width: 46.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fe01a8;
  border-radius: 23.05rem;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-8ruf-eQZ .auto-group-so4v-NtH .auto-group-aktq-4HF .auto-group-dw7k-j8V {
  margin: 0rem 13.4rem 1.7rem 14.6rem;
  width: calc(100% - 28rem);
  height: 12.4rem;
  position: relative;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-8ruf-eQZ .auto-group-so4v-NtH .auto-group-aktq-4HF .auto-group-dw7k-j8V .ellipse-1-RX7 {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1-bg.png');
  border-radius: 3.5rem;
}
.cemilan-kriukcom-hjf .auto-group-8ruf-eQZ .auto-group-so4v-NtH .auto-group-aktq-4HF .auto-group-dw7k-j8V .buy-wEZ {
  width: 8rem;
  height: 6rem;
  position: absolute;
  left: 0.2rem;
  top: 6.4rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #00e0ff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.cemilan-kriukcom-hjf .auto-group-8ruf-eQZ .auto-group-so4v-NtH .auto-group-aktq-4HF .beli-disini-serba-cemilan-SBK {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #080808;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 {
  width: 136.6rem;
  height: 188.7rem;
  position: absolute;
  left: 0;
  top: 155.5rem;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .green-interior-modern-interior-living-room-style-with-soft-sofa-green-wall-3d-rendering-2-dmb {
  width: 136.6rem;
  height: 67.6135rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry {
  box-sizing: border-box;
  padding: 14.4rem 9.8rem 0rem 7.2rem;
  width: 136.6rem;
  height: 125.3rem;
  position: absolute;
  left: 0;
  top: 63.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f3fff4;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .varian-rasa-terbaru-EFb {
  margin: 0rem 0rem 4.4rem 2.7rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #0038ff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .auto-group-lmxm-8bs {
  margin-bottom: 1.3rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .auto-group-lmxm-8bs .group-19-g7b {
  width: 42.1rem;
  height: 48.9rem;
  position: relative;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .auto-group-lmxm-8bs .group-19-g7b .rectangle-39-pDo {
  width: 36.3rem;
  height: 46.9rem;
  position: absolute;
  left: 2.9rem;
  top: 1.1rem;
  background-color: #ff00a8;
  border-radius: 0.5rem;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .auto-group-lmxm-8bs .group-19-g7b .mask-group-Xtu {
  width: 42.1rem;
  height: 30.3rem;
  position: absolute;
  left: 0;
  top: 1.1rem;
  object-fit: contain;
  vertical-align: top;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .auto-group-lmxm-8bs .group-19-g7b .original-rp-5000-fkD {
  width: 14.8rem;
  height: 9rem;
  position: absolute;
  left: 11.6rem;
  top: 35.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .auto-group-lmxm-8bs .group-21-xzD {
  margin-right: 1.5rem;
  width: 38rem;
  height: 48.9rem;
  position: relative;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .auto-group-lmxm-8bs .group-21-xzD .rectangle-39-uuT {
  width: 36.3rem;
  height: 46.9rem;
  position: absolute;
  left: 0.8rem;
  top: 1.1rem;
  background-color: #ffc01f;
  border-radius: 0.5rem;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .auto-group-lmxm-8bs .group-21-xzD .mask-group-Dv9 {
  width: 16.8rem;
  height: 30.3rem;
  position: absolute;
  left: 10.6rem;
  top: 1.1rem;
  object-fit: contain;
  vertical-align: top;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .auto-group-lmxm-8bs .group-21-xzD .coklat-rp-5000-kfB {
  width: 14.8rem;
  height: 9rem;
  position: absolute;
  left: 11.65rem;
  top: 34.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .auto-group-lmxm-8bs .group-20-eEm {
  margin-top: 0.2rem;
  width: 38rem;
  height: 48.9rem;
  position: relative;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .auto-group-lmxm-8bs .group-20-eEm .rectangle-39-z3j {
  width: 36.3rem;
  height: 46.9rem;
  position: absolute;
  left: 0.8rem;
  top: 1.1rem;
  background-color: #000aff;
  border-radius: 0.5rem;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .auto-group-lmxm-8bs .group-20-eEm .manis-rp-5000-hyj {
  width: 14.8rem;
  height: 9rem;
  position: absolute;
  left: 12.8rem;
  top: 33.2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .auto-group-lmxm-8bs .group-20-eEm .images-removebg-preview-1-1-DBP {
  width: 17.4rem;
  height: 30.1rem;
  position: absolute;
  left: 10.1rem;
  top: 1.1rem;
  object-fit: cover;
  vertical-align: top;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .group-19-7nZ {
  margin: 0rem 39.5rem 0rem 42.1rem;
  width: calc(100% - 81.6rem);
  height: 48.9rem;
  position: relative;
  flex-shrink: 0;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .group-19-7nZ .rectangle-39-SZw {
  width: 36.3rem;
  height: 46.9rem;
  position: absolute;
  left: 0.8rem;
  top: 1.1rem;
  background-color: #ff0000;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .group-19-7nZ .mask-group-ms7 {
  width: 19.1rem;
  height: 31rem;
  position: absolute;
  left: 9.3rem;
  top: 1.1rem;
  object-fit: contain;
  vertical-align: top;
}
.cemilan-kriukcom-hjf .auto-group-kk1f-WS5 .group-25-Xry .group-19-7nZ .balado-rp-5000-iGZ {
  width: 14.8rem;
  height: 9rem;
  position: absolute;
  left: 12.35rem;
  top: 33.9rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.cemilan-kriukcom-hjf .auto-group-ba2d-BA9 {
  width: 136.6rem;
  height: 101.1rem;
  position: absolute;
  left: 0;
  top: 348.2rem;
}
.cemilan-kriukcom-hjf .auto-group-ba2d-BA9 .lihat-lainnya-heH {
  width: 12.9rem;
  height: 2.7rem;
  position: absolute;
  left: 61.9rem;
  top: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.cemilan-kriukcom-hjf .auto-group-ba2d-BA9 .mask-group-1Q5 {
  width: 136.6rem;
  height: 73.7rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.cemilan-kriukcom-hjf .auto-group-ba2d-BA9 .rectangle-56-jL5 {
  width: 136.6rem;
  height: 74.1rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  object-fit: cover;
  vertical-align: top;
}
.cemilan-kriukcom-hjf .auto-group-ba2d-BA9 .rectangle-61-rfb {
  width: 136.6rem;
  height: 27rem;
  position: absolute;
  left: 0;
  top: 74.1rem;
  background-color: #fe01a8;
}
.cemilan-kriukcom-hjf .auto-group-ba2d-BA9 .branda-layanan-kontak-masuk-bNH {
  width: 47.2rem;
  height: 3.8rem;
  position: absolute;
  left: 85.9rem;
  top: 86.2rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.cemilan-kriukcom-hjf .auto-group-ba2d-BA9 .grey-minimalist-fashion-brand-logo-4-2-guX {
  width: 9.5rem;
  height: 9.7rem;
  position: absolute;
  left: 4.1rem;
  top: 81.2rem;
  object-fit: cover;
  vertical-align: top;
}
.cemilan-kriukcom-hjf .auto-group-ba2d-BA9 .cemilan-kriuk-oUM {
  width: 23.3rem;
  height: 4.5rem;
  position: absolute;
  left: 17.2rem;
  top: 81.2rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.cemilan-kriukcom-hjf .auto-group-ba2d-BA9 .hub-085609330523-Jvu {
  width: 36.1rem;
  height: 5.3rem;
  position: absolute;
  left: 17.25rem;
  top: 86.4rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.cemilan-kriukcom-hjf .butuh-konsultasi-silahkan-kontak-kami-kami-siap-membantu-p8Z {
  width: 127.7rem;
  height: 6rem;
  position: absolute;
  left: 9.3rem;
  top: 451.8rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.cemilan-kriukcom-hjf .kontak-WGH {
  width: 6.6rem;
  height: 2.7rem;
  position: absolute;
  left: 9.3rem;
  top: 471.7rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.cemilan-kriukcom-hjf .jl-ki-ratu-penghulu-baturaja-lama-kab-oku-sumsel-DgV {
  width: 39.9rem;
  height: 1.8rem;
  position: absolute;
  left: 13.5rem;
  top: 477.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.125;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.cemilan-kriukcom-hjf .item-081365140488-idF {
  width: 11.1rem;
  height: 1.8rem;
  position: absolute;
  left: 13.9rem;
  top: 480.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.125;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.cemilan-kriukcom-hjf .nugraha08062000com-QW5 {
  width: 18.9rem;
  height: 1.8rem;
  position: absolute;
  left: 13.9rem;
  top: 484.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.125;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.cemilan-kriukcom-hjf .social-media-hzy {
  width: 11.7rem;
  height: 2.7rem;
  position: absolute;
  left: 9.3rem;
  top: 487.9rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
